body {
    background-image: url("../images/loginBackground.jpg");
    margin: 0;
    padding: 0;
}

h1 {
    font-size: xx-large;
    color: white;
    text-align: center;
}

h3 {
    color: cornflowerblue;
    text-align: center;
    font-size: larger;
}

h4 {
    color: white;
    text-align: center;
    font-size: large;
}

.loginWindow {
    position: absolute;
    top: 100px;
    left: 530px;
    width: 300px;
    height: 400px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px #000;
    background-color: white;
}

.rights {
    position: absolute;
    right: 100px;
    top: 500px;
    width: 200px;
    height: 100px;
}

.button {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 45px;
    border-radius: 10px;
}

.submit {
    background-color: #000088;
}

.font1 {
    text-align: center;
    font-size: large;
    color: black;
}

.font2 {
    text-align: center;
    font-size: large;
    color: white;
}

.loginImg {
    position: absolute;
    width: 100px;
    height: 100px;
    left: 100px;
    top: 20px;
}
